@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Matter";
  font-weight: 400;
  src: url("/fonts/Matter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Matter";
  font-weight: 500;
  src: url("/fonts/Matter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Matter";
  font-weight: 700;
  src: url("/fonts/Matter-SemiBold.woff2") format("woff2");
}


body {
  padding: 20px;
  font-family: Matter !important;
  font-weight: 400;
}